name: Secure CI Pipeline

on:
  push:
    branches: [ "master" ]
  pull_request:

permissions:
  contents: read
  packages: write

jobs:
  build-and-scan:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Update npm dependencies
        run: |
          npm audit fix --force
          npm update

      - name: Build Docker image
        run: |
          docker build --no-cache -t ghcr.io/${{ github.repository }}/sycamore-api:latest .
      
  
      - name: Run Trivy vulnerability scan
        uses: aquasecurity/trivy-action@0.19.0
        with:
          image-ref: ghcr.io/${{ github.repository }}/sycamore-api:latest
          severity: HIGH,CRITICAL
          exit-code: 1
          ignore-unfixed: true

      - name: Push Docker image
        run: |
          docker push ghcr.io/${{ github.repository }}/sycamore-api:latest
